@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Montserrat:wght@200;300;400;700&family=Staatliches&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

a{
  text-decoration: none;
  color: gold !important;

}


/* text field y pagination modified classes */

.css-1ci5905-MuiButtonBase-root-MuiPaginationItem-root{
  color: white !important;
}

li{
  color: gold;
}


.MuiPagination-ul li {
    color: white !important;
}

.css-1x5jdmq{
  color:white !important
}
.css-15mpiwy{
  color: white;

}
.css-1hu4ypv-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}




@media (max-width: 480px){

.responsive_coinPaige{
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.responsive_coinPaige div img{
  display: block;
  margin-left: 80px;
  width: 200px;
}

.responsive_coinPaige div p{
  width: 100% !important;
  
}


.responsive_coinPaige div span{
  width: 100%;
}

.responsive_description{
  display: block;
  width: 350px !important;
  text-align: center;
}

/* typography coin page */

.css-ag7rrr-MuiTypography-root{
  font-size: 4vw !important;
  margin: 5% !important;
}

.respnsive_data_market{
  width: 100% !important;

}

.responsive_div_chart{
  width: 100% !important;
}

}